<h1>Are you sure?</h1>
<h2>This will delete all <%= Peptide.count%> <%= "peptide".pluralize(Peptide.count) %> in the database.</h2>

<%= form_tag({ action: :delete_all, method: 'get' }) do %>
    <%= label_tag :delete_all, '    ' %>
    <%= submit_tag 'Delete all peptides' %>
<% end %>
