<h1>Listing peptides</h1>

<table>
  <tr>
    <th>Aseq</th>
    <th>Mod-loc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @peptides.each do |peptide| %>
  <tr>
    <td><%= peptide.aseq %></td>
    <td><%= peptide.mod_loc %></td>
    <td><%= link_to 'Show', peptide %></td>
    <td><%= link_to 'Edit', edit_peptide_path(peptide) %></td>
    <td><%= link_to 'Destroy', peptide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Peptide', new_peptide_path %>
