<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @infiles.each do |infile| %>
      <tr>
        <td><%= infile.file_name %></td>
        <td><%= infile.parse_method %></td>
        <td><%= link_to 'Show', infile %></td>
        <td><%= link_to 'Edit', edit_infile_path(infile) %></td>
        <td><%= link_to 'Destroy', infile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>