<table>
  <tr>
    <td>file name &nbsp; &nbsp; </td>
    <td>file parse method &nbsp; &nbsp; </td>
    <td>to be uploaded? &nbsp; &nbsp; </td>
    <td>date uploaded &nbsp; &nbsp; </td>
  </tr>
  <% @infiles.each do |infile| %>
      <tr>
        <td> <%= infile.file_name %> &nbsp; &nbsp;  </td>
        <td> <%= infile.parse_method %> &nbsp; &nbsp; </td>
        <td> <%= infile.to_be_uploaded %> &nbsp; &nbsp; </td>
        <td> <%= infile.created_at %> &nbsp; &nbsp; </td>
        <td> &nbsp; <%= link_to 'Show', infile %> &nbsp; </td>
      </tr>
  <% end %>
</table>