<h1>New infile</h1>


<%= render 'index' %>

<br />
<%= form_tag( {action: :create}, multipart: true ) do %>
    <%= label_tag :file, 'path to infile' %> </p>
    <%= file_field_tag :file %> </p>

    <%= text_field_tag :parse_method %>
    What type of file? (bennett, carr, or choudhary) </p>

    <%= submit_tag 'Add file' %> </p>
<% end %>