<h1>New Peptide Source</h1>
<h2>Choose peptide source to upload</h2>
<%= form_tag({ action: :create }, multipart: true) do %>
    <%= label_tag :file, 'choose path to peptide_source' %>
    <%= file_field_tag :file %> </p>

    <%= label_tag :parse_method, 'What type of file? (bennett, carr, or choudhary)' %>
    <%= text_field_tag :parse_method %>
     </p>

    <%= submit_tag 'Add file' %>
<% end %>


<h3> Infiles that have already been uploaded:</h3>
<%= render 'index' %>