<p id="notice"><%= notice %></p>
<table>

  <tr>
    <b>
      file name
    </b>
    </br>
    <%= @peptide_source.file_name %>
    </br></br>
  </tr>
  <tr>
    <b>
      upload date
    </b>
    </br>
    <%= @peptide_source.created_at %>
    </br></br>
  </tr>
  <tr>
    <b>
      modify date
    </b>
    </br>
    <%= @peptide_source.updated_at %>
    </br></br>
  </tr>
  <tr>
    <b>
      parse method
    </b>
    </br>
    <%= @peptide_source.parse_method %>
    </br></br>
  </tr>
  <tr>
    <b>
      to be uploaded?
    </b>
    </br>
    <%= @peptide_source.to_be_uploaded %>
    </br></br>
  </tr>
  <tr>
    <b>
      peptide column
    </b>
    </br>
    <%= @peptide_source.peptide_column %>
    </br></br>
  </tr>
  <tr>
    <b>
      first line
    </b>
    </br>
    <%= @peptide_source.first_line%>
    </br></br>
  </tr>
</table>


<%= link_to 'Back', peptide_sources_path %>
