<%= form_for(@protein) do |f| %>
  <% if @protein.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@protein.errors.count, "error") %> prohibited this protein from being saved:</h2>

      <ul>
      <% @protein.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sp_or_tr %><br />
    <%= f.text_field :sp_or_tr %>
  </div>
  <div class="field">
    <%= f.label :accession %><br />
    <%= f.text_field :accession %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :aa_sequence %><br />
    <%= f.text_area :aa_sequence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
